In [11]:
import zipfile
import pandas as pd

In [12]:
import os
import configparser

mycfg = configparser.ConfigParser()
mycfg.read("/home/jovyan/Databases/mysql.cfg")
print(f"User    : [{mycfg['mysql']['user']}]")
database = mycfg['mysql']['url'].split('@')[1]  # leave off the password
print(f"Database: [[mysql://{mycfg['mysql']['user']}...@{database}]")

db_url = mycfg['mysql']['url'] 
os.environ['DATABASE_URL'] = db_url

User    : [tapa9778]
Database: [[mysql://tapa9778...@applied-sql.cs.colorado.edu:3306/tapa9778]

In [13]:
%reload_ext sql
print ("get version...")
%sql SELECT version()

get version...
1 rows affected.

[('8.0.27',)]

In [14]:
%%sql 
drop table if exists Pokemon;
drop table if exists Trainer;
drop table if exists Generation;
drop table if exists Type;

drop table if exists memberOf;
drop trigger if exists delete_team;
drop trigger if exists delete_type;
drop trigger if exists delete_generation;

 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [15]:
%%sql 

CREATE TABLE Generation(
    num int PRIMARY KEY CHECK(num between 1 AND 8));

 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
0 rows affected.

[]

In [16]:
for i in range(1,9):
    %sql insert into Generation values (:i)

 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.

In [17]:
%%sql 
drop table if exists Type;
CREATE TABLE Type(
    type_name varchar(25) PRIMARY KEY,
    CHECK(type_name in ('fire', 'water', 'grass', 'poison', 'flying', 'normal', 'electric', 'rock', 'ground', 'fighting', 'ghost', 'dark', 'fairy', 'psychic', 'ice', 'steel', 'bug', 'dragon')));

 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
0 rows affected.
0 rows affected.

[]

In [18]:
type_list = ['fire', 'water', 'grass', 'poison', 'flying', 'normal', 'electric', 'rock', 'ground', 'fighting', 'ghost', 'dark', 'fairy', 'psychic', 'ice', 'steel', 'bug', 'dragon'];
for t in type_list:
    %sql insert into Type values(:t)

 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.

In [19]:
%%sql 
drop table if exists Pokemon;
CREATE TABLE Pokemon(
    Pokedex float PRIMARY KEY UNIQUE NOT NULL,
    Name varchar(50) UNIQUE NOT NULL,
    Gen int NOT NULL,
    Foreign Key (Gen) references Generation(num), 
    Type_1 varchar(25) NOT NULL,
    Foreign Key (Type_1) references Type(type_name),
    Type_2 varchar(25),
    Foreign Key (Type_2) references Type(type_name),
    hp int Default 0,
    attack int Default 0,
    defense int Default 0,
    sp_attack int Default 0,
    sp_defense int Default 0,
    speed int Default 0   
);

 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
0 rows affected.
0 rows affected.

[]

In [20]:
pokemon_data = pd.read_csv('pokemon.zip',compression='zip')
clean_data = pokemon_data[['pokedex_number', 'name', 'generation', 'type1', 'type2', 'hp', 'attack', 'defense', 'sp_attack', 'sp_defense', 'speed']]
clean_data.head(2)

,pokedex_number,name,generation,type1,type2,hp,attack,defense,sp_attack,sp_defense,speed
0,1,Bulbasaur,1,grass,poison,45,49,49,65,65,45
1,2,Ivysaur,1,grass,poison,60,62,63,80,80,60

In [21]:
pokemon_dict = new_data.to_dict('records')
pokemon_dict[0]

{'pokedex_number': 1,
 'name': 'Bulbasaur',
 'generation': 1,
 'type1': 'grass',
 'type2': 'poison',
 'hp': 45,
 'attack': 49,
 'defense': 49,
 'sp_attack': 65,
 'sp_defense': 65,
 'speed': 45}

In [22]:
print(clean_data.dtypes)

pokedex_number     int64
name              object
generation         int64
type1             object
type2             object
hp                 int64
attack             int64
defense            int64
sp_attack          int64
sp_defense         int64
speed              int64
dtype: object

In [28]:
for row in clean_data:
    print(row)
    %sql insert into Pokemon(Pokedex, Name, Gen, Type_1, Type_2, hp, attack, defense, sp_attack, sp_defense, speed) values(:pokedex_number, :name, :generation, :type1, :type2, :hp :attack, :defense, :sp_attack, :sp_defense, :speed)

pokedex_number
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778

StatementError: (sqlalchemy.exc.InvalidRequestError) A value is required for bind parameter 'pokedex_number'
[SQL: insert into Pokemon(Pokedex, Name, Gen, Type_1, Type_2, hp, attack, defense, sp_attack, sp_defense, speed) values(%s, %s, %s, %s, %s, %s %s, %s, %s, %s, %s)]
[parameters: [{'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__s ... (176159 characters truncated) ... k, sp_defense, speed) values(:pokedex_number, :name, :generation, :type1, :type2, :hp :attack, :defense, :sp_attack, :sp_defense, :speed)\n        '}]]
(Background on this error at: https://sqlalche.me/e/14/cd3x)

In [37]:
%%sql 
CREATE TABLE Trainer (
    Name varchar(100) PRIMARY KEY UNIQUE NOT NULL,
    Type varchar(25),
    Foreign Key (Type) references Type(type_name));

 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
0 rows affected.

[]

In [24]:
%%sql
Select Count(name) from Pokemon;

 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.

[(0,)]

In [27]:
%%sql
Select Count(type_name) from Type;

 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.

[(18,)]