In [57]:
import zipfile
import pandas as pd
import os
import configparser
from sqlalchemy import create_engine
import sqlalchemy.sql
import ipywidgets as widgets
import random

import os
import configparser

mycfg = configparser.ConfigParser()
mycfg.read("/home/jovyan/Databases/mysql.cfg")
print(f"User    : [{mycfg['mysql']['user']}]")
database = mycfg['mysql']['url'].split('@')[1]  # leave off the password
print(f"Database: [[mysql://{mycfg['mysql']['user']}...@{database}]")

db_url = mycfg['mysql']['url'] 
os.environ['DATABASE_URL'] = db_url

In [2]:
mysqlcfg = configparser.ConfigParser()
mysqlcfg.read("/home/jovyan/Databases/mysql.cfg")
dburl = mysqlcfg['mysql']['url']

os.environ['DATABASE_URL'] = dburl  # define this env. var for sqlmagic
eng = create_engine(dburl)
con = eng.connect()

In [3]:
%reload_ext sql
print ("get version...")
%sql SELECT version()

get version...
1 rows affected.

[('8.0.27',)]

In [20]:
%%sql 
drop table if exists memberOf;
drop table if exists Pokemon;
drop table if exists Trainer;
drop table if exists Generation;
drop table if exists Type;

drop trigger if exists delete_team;
drop trigger if exists delete_type;
drop trigger if exists delete_generation;

 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [21]:
%%sql 
CREATE TABLE Generation(
    num int PRIMARY KEY CHECK(num between 1 AND 8));

 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
0 rows affected.

[]

In [22]:
for i in range(1,9):
    %sql insert into Generation values (:i)

 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.

In [23]:
%%sql 
drop table if exists Type;
CREATE TABLE Type(
    type_name varchar(25) PRIMARY KEY,
    CHECK(type_name in ('fire', 'water', 'grass', 'poison', 'flying', 'normal', 'electric', 'rock', 'ground', 'fighting', 'ghost', 'dark', 'fairy', 'psychic', 'ice', 'steel', 'bug', 'dragon', '')));

 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
0 rows affected.
0 rows affected.

[]

In [24]:
type_list = ['fire', 'water', 'grass', 'poison', 'flying', 'normal', 'electric', 'rock', 'ground', 'fighting', 'ghost', 'dark', 'fairy', 'psychic', 'ice', 'steel', 'bug', 'dragon', ''];
for t in type_list:
    %sql insert into Type values(:t)

 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.
 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.

In [25]:
%%sql 
drop table if exists Pokemon;
CREATE TABLE Pokemon(
    Pokedex int  UNIQUE NOT NULL,
    Name varchar(50) PRIMARY KEY UNIQUE NOT NULL,
    Gen int NOT NULL,
    Type_1 varchar(25) NOT NULL,
    Type_2 varchar(25) DEFAULT NULL,
    hp int Default 0,
    attack int Default 0,
    defense int Default 0,
    sp_attack int Default 0,
    sp_defense int Default 0,
    speed int Default 0,
    Foreign Key (Gen) references Generation(num),
    Foreign Key (Type_1) references Type(type_name),
    Foreign Key (Type_2) references Type(type_name)
);

 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
0 rows affected.
0 rows affected.

[]

In [26]:
pokemon_data = pd.read_csv('pokemon.zip',compression='zip')
clean_data = pokemon_data[['pokedex_number', 'name', 'generation', 'type1', 'type2', 'hp', 'attack', 'defense', 'sp_attack', 'sp_defense', 'speed']]
clean_data = clean_data.fillna('')
pokemon_dict = clean_data.to_dict('records')
pokemon_dict[4]

{'pokedex_number': 5,
 'name': 'Charmeleon',
 'generation': 1,
 'type1': 'fire',
 'type2': '',
 'hp': 58,
 'attack': 64,
 'defense': 58,
 'sp_attack': 80,
 'sp_defense': 65,
 'speed': 80}

In [27]:
for row in pokemon_dict:
    cmd = sqlalchemy.sql.text('''INSERT INTO Pokemon(Pokedex, Name, Gen, Type_1, Type_2, hp, attack, defense, sp_attack, sp_defense, speed)\
    VALUES ( :pokedex_number, :name, :generation, :type1, :type2, :hp, :attack, :defense, :sp_attack, :sp_defense, :speed)  ''' )
    con.execute(cmd, row)

In [28]:
%%sql 
drop table if exists Trainer;
CREATE TABLE Trainer (
    ID int PRIMARY KEY UNIQUE NOT NULL,
    Name varchar(100) 
    );

 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
0 rows affected.
0 rows affected.

[]

In [36]:
%%sql 
drop table if exists memberOf;
CREATE TABLE memberOf (
    Trainer_ID int,
    Party_pokemon varchar(25),
    Foreign Key (Trainer_ID) references Trainer(ID),
    Foreign Key (Party_pokemon) references Pokemon(Name)
);

 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
0 rows affected.
0 rows affected.

[]

In [30]:
trainer_data = pd.read_csv('trainer.csv')
cleant_data = trainer_data[['trainerID', 'trainername']]
cleant_data = cleant_data.drop_duplicates()
cleant_data.head(10)
# cleant_data = clean_data.fillna('')
trainer_dict = cleant_data.to_dict('records')
trainer_dict[:4]

[{'trainerID': 0, 'trainername': 'A-list Actor Alonso'},
 {'trainerID': 1, 'trainername': 'A-list Actor Ricardo'},
 {'trainerID': 2, 'trainername': 'Ace Duo Elina & Sean'},
 {'trainerID': 3, 'trainername': 'Ace Duo Jude & Rory'}]

In [31]:
for row in trainer_dict:
    cmd = sqlalchemy.sql.text('''INSERT INTO Trainer(ID, name)\
    VALUES ( :trainerID, :trainername)  ''' )
    con.execute(cmd, row)

In [58]:
cleanm_data = trainer_data[['trainerID', 'pokename']]
nido_list = ['Nidoran♀', 'Nidoran♂']
cleanm_data.loc[cleanm_data['pokename'] == "Nidoran", 'pokename'] = random.choice(nido_list)
# cleanm_data = cleanm_data.loc[cleanm_data['pokename'] != "Nidoran"]
cleanm_data.head(10)
member_dict = cleanm_data.to_dict('records')
member_dict[:4]

/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

[{'trainerID': 0, 'pokename': 'Smeargle'},
 {'trainerID': 1, 'pokename': 'Smeargle'},
 {'trainerID': 2, 'pokename': 'Wailord'},
 {'trainerID': 2, 'pokename': 'Vileplume'}]

In [59]:
for row in member_dict:
    cmd = sqlalchemy.sql.text('''INSERT INTO memberOf(trainer_ID, Party_pokemon)\
    VALUES ( :trainerID, :pokename)  ''' )
    con.execute(cmd, row)

In [60]:
%%sql
Select * from memberOf where Party_pokemon like "Nidoran%";

 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
2 rows affected.

[(7645, 'Nidoran♀'), (7645, 'Nidoran♀')]

In [144]:
%%sql
Select Count(type_name) from Type;

 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
1 rows affected.

[(19,)]

delete team
delete pokemon
delete trainer
delete type

In [63]:
%%sql
drop trigger if exists delete_trainer;
CREATE TRIGGER delete_trainer
BEFORE DELETE on Trainer
FOR EACH ROW
BEGIN
DELETE from memberOf WHERE (old.ID = memberOf.Trainer_ID);
end;

drop trigger if exists delete_pokemon;
CREATE TRIGGER delete_pokemon
BEFORE DELETE on Pokemon
FOR EACH ROW
BEGIN
DELETE from memberOf WHERE (old.Name = memberOf.Party_pokemon);
end;

drop trigger if exists delete_type;
CREATE TRIGGER delete_type
BEFORE DELETE on Type
FOR EACH ROW
BEGIN
DELETE from Pokemon WHERE (old.type_name = Pokemon.Type_1);
DELETE from Pokemon WHERE (old.type_name = Pokemon.Type_2);
end;

drop trigger if exists delete_gen;
CREATE TRIGGER delete_gen
BEFORE DELETE on Generation
FOR EACH ROW
BEGIN
DELETE from Pokemon WHERE (old.type_name = Pokemon.Type_1);
end;

 * mysql://tapa9778:***@applied-sql.cs.colorado.edu:3306/tapa9778
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]